<form class="form-signin">
    <h2 class="form-signin-heading">Por Favor Ingrese</h2>
    <label for="inputEmail" class="sr-only">Dirección de correo</label>
    <input type="email" [(ngModel)]="loggedUser.user" name="user" id="inputEmail" 
          class="form-control" placeholder="Dirección de correo" required autofocus>
    <label for="inputPassword" class="sr-only">Clave</label>
    <input type="password" [(ngModel)]="loggedUser.psw" name="psw" id="inputPassword" 
          class="form-control" placeholder="Clave" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Recuerdame
      </label>
    </div>
    <button (click)="checkLogin()" class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
  </form>
